table {
  width: 60%;
}

td {
  overflow: hidden;  
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.quiz-view {
  margin-left: 25%;
}

table th {
  background: #DDD;
  padding: 10px;
}

table td {
  padding: 5px 10px;
  background: #EEE;
}
