.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    height: 50px;
}
.navbar-toggle {
    z-index:3;
}

.brandHeader {
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}