.footer-view {
  clear: both;
  position: fixed;
  z-index: 10;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 0.9em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #DDD;
}
